.container {
    max-width: 72rem;
    padding: 0 1rem;
    margin: 3rem auto 6rem;
}
  
.home {
    display: grid;
    grid-template-columns: 66.66% 33.33%;
    grid-template-rows: 75% 25%;
    max-height: 80vh;
}