@import '../../../styles/variables.module.scss';

.header {
    padding: 1rem 0;
    position: sticky;
    top: 0;
    background-color: #ffffff;
    &.dark {
        background-color: $slate-950;
    }
    &.light a {
        color: $slate-950;
    }
    &.dark a {
        color: $slate-100;
    }
}

.container {
    max-width: 72rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.logo {
    font-size: 2.25rem;
    margin: 0;
}

.header_links {
    width: 43%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-weight: 500;
}

.header_links a {
    background:
    linear-gradient(to right, rgba(216, 180, 254, 0.25), rgba(216, 180, 254, 0.75)),
    linear-gradient(to right, rgba(25, 218, 247, 1), rgba(168, 85, 247, 1),rgba(126, 34, 206, 1));
    background-size: 100% 0.1em, 0 0.1em;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
    transition: background-size 400ms;
}

.header_links a:hover {
    text-decoration: none;
    background-size: 0 0.1em, 100% 0.1em;
    cursor: pointer;
}

@media (max-width: $breakpoint-desktop) {
    .notMobile {
        display: none;
    }

    .header_links {
        width: 15%;
    }

    .header {
        padding: .5rem 2.5rem;
    }
}

@media (max-width: $breakpoint-mobile) {

    .logo {
        font-size: 1.75rem;
    }

    .header_links {
        width: 25%;
    }

    .header {
        padding: .5rem 1rem;
    }
}