.paypalBtn {
    background-color: #000;
    color: #fff;
}

.button {
    cursor: pointer;
}

.approved_text {
    text-align: center;
    background-color: #5bd696;
    border-radius: 8px;
    font-size: 1rem;
    padding: 0.25rem 1rem;
}