@import '../../../styles/variables.module.scss';

.price_box {
    width: 24rem;
    max-width: 100%;
    background: linear-gradient(to right, $purple-500, $fucsia-500);
    padding: 3px;
    border-radius: 8px;
    &.dark {
        background: linear-gradient(to right, $purple-500, $fucsia-500);
    }
}

.pricebox_heading {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    background-color: rgba(255, 255, 255, 0.65);
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    padding: 0 1rem;
}

.dark .pricebox_heading {
    background-color: rgba(0, 0, 0, 0.65);
}

.pricebox_heading h3 {
    font-size: 0.75rem;
    line-height: 1em;
    font-weight: 400;
    letter-spacing: 2px;
    text-transform: capitalize;
}

.pricebox_title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 12px;
    padding: 1rem 0;
    border-top: 2px solid $purple-300;
    border-bottom: 2px solid $purple-300;
    background-color: rgba(255, 255, 255, 0.5);
}

.pricebox_title_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    gap: 12px;
}

.pricebox_title__price {
    font-size: 2rem;
    font-weight: 900;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin: 0;
}

.pricebox_title__price span {
    font-size: .85rem;
    align-self: flex-start;
}

.pricebox_title__title {
    font-size: 1.5rem;
    font-weight: 900;
    letter-spacing: 1px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin: 0;
}

.dark .pricebox_title__title {
    color: #ffffff;
}

.pricebox_title__discount {
    margin: 0;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 40px;
    padding: 4px 24px;
    font-size: 0.75rem;
}

.dark .pricebox_title {
    background-color: rgba(0, 0, 0, 0.75);
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
}

.pricebox_features {
    background-color: rgba(255, 255, 255, 0.65);
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    margin: 0;
    padding: 1rem;
}

.dark .pricebox_features {
    background-color: rgba(0, 0, 0, 0.65);
}

.pricebox_features li {
    margin: .5rem 0 .5rem 0;
    padding: 0 0 .25rem 0;
    list-style-type: none;
    font-size: .9rem;
    font-weight: 300;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.dark .pricebox_features li {
    border-bottom: 1px solid $purple-900;
}

.pricebox_features li svg {
    margin-right: 0.5rem;
    color: $purple-600;
}

.pricebox_cta__wrapper {
    background: $biz-gradient;
    padding: 3px;
    border: none;
    border-radius: 40px;
    transition: all 800ms;
}

.pricebox_cta__wrapper:hover {
    background-size: 0 0.1em, 100% 0.1em;
    cursor: pointer;
}

a.pricebox_cta__button {
    color: $slate-100;
}

.pricebox_cta__button {
    background: $slate-500;
    border: none;
    padding: 8px 24px;
    border-radius: 40px;
    color: $slate-100;
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    display: block;
    margin: 0 auto;
    transition: all 800ms;
}

.pricebox_cta__button:hover {
    background: transparent;
}

@media(min-width: 320px) {
    .pricebox_title_wrapper {
        padding: 0 1rem;
    }
    .pricebox_title__title {
        font-size: 1.1rem;
    }
    .pricebox_title__price {
        font-size: 1.25rem;
    }
}