.toggle_button {
    border-radius: 999px;
    background-color: #ffffff;
    padding: 0.75rem;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    cursor: pointer;
  
    &:hover {
      background-color: #ffffff;
    }
  
    .icon {
      height: 1.75rem;
      width: 1.75rem;
      color: white;
    }
}