@import '../../../styles/variables.module.scss';

.infobox_wrapper {
    position: relative;
    background-image: linear-gradient(to right, rgba(147, 51, 234, 0.75), rgba(147, 51, 234, 0.5)), url(../../../public/images/courses.jpg);
    background-position: center right;
    background-size: cover;
    background-repeat: repeat;
    width: 22rem;
    height: 20rem;
    margin-bottom: 4rem;
    border-radius: 2rem;
}

.infobox_wrapper__inner {
    display: flex;
    flex-direction: row;
    position: absolute;
    background: #fff;
    left: 12rem;
    top: 2.5rem;
    min-width: 38rem;
    border-radius: 2rem;
    padding: 1rem;
    box-shadow: 14px 14px 44px rgba(0, 0, 0, 0.12);
}

.dark .infobox_wrapper__inner {
    background: $slate-900;
}

.infobox_image img {
    object-fit: cover;
    transform: translateX(-22%);
    border-radius: 8px;
}

.infobox_text h2 {
    margin: 0;
}

.infobox_text h2 a {
    font-family: 'Inter', sans-serif;
    font-size: 1.25rem;
    letter-spacing: 1px;
    margin: 0;
}

.dark.infobox_text h2 a {
    color: $slate-100;
}

.infobox_text__price {
    display: flex;
    justify-content: space-between;
    width: 50%;
    color: $fucsia-500;
    font-weight: 500;
}

.infobox_text__price span {
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 300;
    color: $slate-900;
}

.dark .infobox_text__price span {
    color: $slate-100;
}

.infobox_text__list {
    list-style-type: none;
    padding: 0;
}

.infobox_text__list li {
    font-size: 0.85rem;
    color: $slate-900;
}

.dark .infobox_text__list li {
    color: $slate-100;
}

.infobox_text__list li svg {
    color: $fucsia-500;
    margin-right: .35rem;
}

.infobox_addtocart {
    background: rgba(255, 255, 255, 0.15);
    border: 2px solid $fucsia-500;
    cursor: pointer;
    padding: 8px 16px;
    border-radius: 40px;
    font-family: 'Inter', sans-serif;
    font-size: 0.75rem;
    transition: all 800ms;
    color: $slate-900;
}

.dark .infobox_addtocart {
    color: $slate-100;
}

.dark .infobox_addtocart:hover {
    color: $slate-100;
}

.infobox_addtocart:hover {
    background: $fucsia-500;
    border: 2px solid $slate-500;
    color: $slate-100;
}

@media(min-width: 320px) {
    .infobox_wrapper {
        background-image: unset;
        width: 100%;
        height: 12rem;
        max-width: 100%;
        margin-bottom: 3rem;
    }
    .infobox_wrapper__inner {
        display: flex;
        flex-direction: row;
        position: absolute;
        background: #fff;
        left: 1rem;
        top: 2rem;
    }
    .infobox_image img {
        transform: translateX(-12%);
    }
}

@media (min-width: 1024px) {
    .infobox_wrapper {
        position: relative;
        background-image: linear-gradient(to right, rgba(147, 51, 234, 0.75), rgba(147, 51, 234, 0.5)), url(../../../public/images/courses.jpg);
        background-position: center right;
        background-size: cover;
        background-repeat: repeat;
        width: 22rem;
        height: 20rem;
        margin-bottom: 4rem;
        border-radius: 2rem;
    }
    .infobox_wrapper__inner {
        left: 12rem;
    }
}