@import '../../../styles/variables.module.scss';

.courses_listing {
    width: 100%;
    max-width: 420px;
    background-color: #E5E5E5;
    position: sticky;
    margin-left: 5.5vw;
    right: 59.75px;
    padding: 24px;
    border-radius: 5px;
    grid-area: coursesListing;
    &.dark {
        background-color: $purple-900;
        color: $slate-100;
    }
}

.courses_listing__item {
    margin-bottom: 0.75rem;
}

.courses_listing__title {
    margin: 0;
    font-size: .95rem;
}

.courses_listing__underline {
    background:
    linear-gradient(to right, rgba(216, 180, 254, 1), rgba(216, 180, 254, 1)),
    linear-gradient(to right, rgba(25, 218, 247, 1), rgba(168, 85, 247, 1),rgba(126, 34, 206, 1));
    background-size: 100% 0.1em, 0 0.1em;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
    transition: background-size 400ms;
}

.courses_listing__underline:hover {
    background-size: 0 0.1em, 100% 0.1em;
    cursor: pointer;
}

.courses_listing__text {
    margin: 0;
    font-size: 0.75rem;
}

@media (max-width: $breakpoint-desktop) {
    .courses_listing {
        right: auto;
        left: 1rem;
        padding: 24px;
    }
    .courses_title {
        font-size: 1.25rem;
        margin: 0 0 0.5rem 0;
    }
}

@media (max-width: $breakpoint-tablet) {
    .courses_listing {
        position: static;
        width: auto;
        right: 0;
        left: 0;
        padding: 24px;
        margin-left: 16px;
        margin-right: 16px;
    }
}