.hero_wrapper {
  max-height: 100%;
  position: relative;
}

.hero_inner img {
  width: 100%;
  height: 500px;
  object-fit: cover;
  border-radius: 5px;
}

.hero_inner h1 {
    position: absolute;
    bottom: 8.66rem;
    left: 179.75px;
    color: #ffffff;
    font-size: 2.66em;
    max-width: 600px;
}

.hero_inner p {
    position: absolute;
    bottom: 4.66rem;
    color: #ffffff;
    max-width: 600px;
    left: 179.75px;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.55);
    width: 100%;
    height: 500px;
    position: absolute;
    border-radius: 5px;
}